In [34]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [40]:
#Spark Dataframe

from pyspark.sql import *
from pyspark.shell import spark

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.0.1
      /_/

Using Python version 3.6.9 (default, Oct  8 2020 12:12:24)
SparkSession available as 'spark'.

In [36]:
 
Student = Row("firstName", "lastName", "email", "salary")
 
Student1 = Student('nguyen', 'quoc', 'quocnguyen@gmail.com', 100000)
Student2 = Student('bao', 'gia', 'giabao@gmail.com', 120000 )
Student3 = Student('cuong', None, 'cuong@gmail.com', 140000 )
Student4 = Student('loi', 'thien', 'thienloi@gmail.com', 160000 )
Student5 = Student('long', 'thanh', 'thanhlong@gmail.com', 160000 )
 
print(Student[0])
print(Student3)

firstName
Row(firstName='cuong', lastName=None, email='cuong@gmail.com', salary=140000)

In [37]:
classes1 = Row(id='123456', name='NLP')
classes2 = Row(id='789012', name='BI')
classes3 = Row(id='345678', name='WEB')
classes4 = Row(id='901234', name='DEV')

In [38]:
classesWithStudents1 = Row(classes=classes1, Students=[Student1, Student2, Student5])
classesWithStudents2 = Row(classes=classes2, Students=[Student3, Student4])
classesWithStudents3 = Row(classes=classes3, Students=[Student1, Student4, Student3])
classesWithStudents4 = Row(classes=classes4, Students=[Student2, Student3])

In [43]:
classesWithStudents_Seq = [classesWithStudents1, classesWithStudents2]
dframe = spark.createDataFrame(classesWithStudents_Seq)
display(dframe)
dframe.show()

DataFrame[classes: struct<id:string,name:string>, Students: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

+-------------+--------------------+
|      classes|            Students|
+-------------+--------------------+
|[123456, NLP]|[[nguyen, quoc, q...|
| [789012, BI]|[[cuong,, cuong@g...|
+-------------+--------------------+